{include file="common/meta" /}
  <style>
.is-dialog .layer-footer {
  display: none;
}
</style>
    <form id="edit-form" class="form-horizontal {:defined('IS_DIALOG') && IS_DIALOG ? 'is-dialog' : ''}" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户名:</label>
        <div class="col-xs-12 col-sm-8">
             {$user.username}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dianpu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dianpu" class="form-control form-control" name="row[dianpu]" type="text" value="{$row.dianpu}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fajianren')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fajianren" class="form-control form-control" name="fajianren" type="text" value="{$row.fajianren}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shouji')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shouji" class="form-control form-control" name="row[shouji]" type="text" value="{$row.shouji}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">地区:</label>
        <div class="col-xs-12 col-sm-8">
          <div class='control-relative'><input id="c-city" data-rule="required" class="form-control form-control" data-toggle="city-picker" name="rowqu" type="text" value="{$row.a_province}/{$row.city}/{$row.area}"></div>
     
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" class="form-control form-control" name="address" type="text" value="{$row.address}">
        </div>
    </div>
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ismr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
            {foreach name="ismrList" item="vo"}
            <label for="row[ismr]-{$key}"><input id="row[ismr]-{$key}" name="ismr" type="radio" value="{$key}" {in name="key" value="$row.ismr"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>            
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
{include file="common/script" /}