<link href="/assets/css/frontend.min.css?v=1.0.1" rel="stylesheet">
 <div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead>
  	<tr>
  		<td>商品名称</td>
  		<td>商品数量</td>
  		<td>商品单价</td>
  		<td>快递费用</td>
  		<td>快递名称</td>
  		<td>订单总价</td>
  	</tr>
  	<tbody>
  		<tr>
  			<td>{$order_info.goods_name}</td>
  			<td>{$order_info.goods_num}</td>
  			<td>{$order_info.goods_price}</td>
  			<td>{$order_info.express_price}</td>
  			<td>{$order_info.express_name}</td>
  			<td>{$order_info.total_price}</td>
  		</tr>
  	</tbody>
  </thead>
</table>
</div>