<style type="text/css">
  .table-bordered > tbody > tr > td{
    text-align: left;
    vertical-align: middle;
  }
#nums .msg-box{
    margin-top: -15px;
    margin-left: -90px;
}
#navtab {
    border-bottom: 0px solid #ddd;
}	
</style>
<div id="content-container" class="container">
  <div class="row">
    <div class="col-md-2">
      {include file="common/sidenav" /}
    </div>
    <div class="col-md-10">
        <ul class="nav nav-tabs" id="navtab">
          <li class="active"><a href="javascript(viod(0));" data-toggle="tab">普通上传</a></li>
          {empty name="sid"}
          <li><a href="/goods/uploads/gid/{$id}/num/{$num}.html">批量上传</a></li>
          {else /}
          <li><a href="/goods/uploads/gid/{$id}/num/{$num}/sid/{$sid}.html">批量上传</a></li>
          {/empty}
        </ul>
      <div class="panel panel-default ">
        <div class="panel-body">
          <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="one">
          <form name="form" role="form" id="adds-form" class="form-horizontal" method="POST" action="">
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-2">商品信息:</label>
              <div class="col-xs-12 col-sm-8">
                <table class='table table-striped table-bordered'>
                  <thead>
                    <tr>
                      <th>商品名称</th>
                      <th>商品图片</th>
                      <th>购买数量</th>
                      <th>商品单价</th>
                      <th>快递费用</th>
                      <th>商品总价</th>
                      <th>总价</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{$data.name}</td>
                      <td><img src="{$data.goods_image}" width="45px" height="45px"></td>
                      <td id="nums">
                        <input type="number" class="form-control" placeholder="默认为1个" style='width:78px;height: 31px' value="{$num}" id='num' name='num' data-rule="required;digits;range[1~10]" data-msg-digits="请输入正整数" {if condition="$primary_key.is_multiple ==0"}readonly{/if}>
                      </td>
                      <td><span class='price'>{$data.price}</span></td>
                      <td><span class='express_price'>{:get_price($user.level,$primary_key['express_id'])}</span></td>
                      <td><span class="goods-price">{$data.price*$num}</span></td>
                      <td><span class='total-price'>{:get_price($user.level,$primary_key['express_id'])+$data.price*$num}</span></td>
                      
                    </tr>
                  </tbody>
                </table>
                <input type="hidden" name="gid" value="{$data.id}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-2">发货仓:</label>
              <div class="col-xs-12 col-sm-8">
                <div class="radio">
                  {foreach $stores as $key=>$vo}
                  <label>
                    <input  name="store_id" type="radio" value="{$vo.id}" {if condition="$key==0"}checked{/if}>{$vo.store_name}
                    &nbsp;<span>发货地址:{$vo.send_address}</span>
                  </label>
                  <br/>
                  {/foreach}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-2">地址说明:</label>
              <div class="col-xs-12 col-sm-8">
                <div class="b">格式：姓名，手机，地址</div>
                <div class="b">例如：张三，13812345678，浙江省 杭州市 下城区 文兴路888号</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-2">收货地址:</label>
              <div class="col-xs-12 col-sm-8">
                <textarea name="addstext" id="addstext" class="form-control" rows="5" cols="50" placeholder="一行一个地址" data-rule="required" ></textarea>
              </div>
            </div>
            {empty name="sid"}
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-2">是否收藏:</label>
              <div class="col-xs-12 col-sm-8">
                <div class="radio">
                  <label><input name="issc" type="radio" value="0" checked=""> 否</label>
                  <label><input  name="issc" type="radio" value="1"> 是</label>
                  <label>收藏后可以在收藏夹里快速一键下单</label>
                </div>
              </div>
            </div>
            {/empty}
            <div class="form-group layer-footer">
              <label class="control-label col-xs-12 col-sm-2"></label>
              <div class="col-xs-12 col-sm-4">
                <button type="button" class="btn btn-danger btn-dialog">检查格式</button>
                <input type="submit" class="btn btn-success btn-embossed" value="确定提交" disabled>
              </div>
            </div>		  	
          </form>
          </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div> 
 