<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{$data.title}-{$site.name}</title>
        <meta name="keywords" content="{$data.keywords}">
        <meta name="description" content="{$data.desc}">
        <link rel="shortcut icon" href="/assets/img/favicon.ico" />
        <!-- Bootstrap Core CSS -->
        <link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="page-top">

       <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{:url('/')}" style="padding:6px 15px;"><img src="/assets/img/logo.png" style="height:40px;" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/" >{:__('Home')}</a></li>
                        <li><a href="{:url('recharge/recharge')}" >充值</a></li>
                        {if $user}
                            <li><a href="{:url('user/index')}">您好：{$user.username}</a></li>
                            <li><a href="{:url('user/score')}"><i class="fa fa-rmb fa-fw"></i>{$user.money}</a></li>
                            <li><a href="{:url('user/logout')}"><i class="fa fa-sign-out fa-fw"></i>退出</a></li>
                             {else /}
                             <li><a href="{:url('user/login')}"><i class="fa fa-sign-in fa-fw"></i> {:__('Sign in')}</a></li>
                             <li><a href="{:url('user/register')}"><i class="fa fa-user-o fa-fw"></i> {:__('Sign up')}</a></li>
                         {/if}
                    </ul>
                </div>
            </div>
        </nav>
        <main class="content">
            <div class="container">
              <div class="row">
              	<div class="col-lg-9">
				  <ol class="breadcrumb">
					<li><a href="/" aria-label="首页">首页</a></li>
					<li class="active">详情</li>
				  </ol>
           	      <h4 class="page-header" align="center">{$data.title}<small>{$data.create_time|date="Y-m-d",###}</small></h4>
            	  <div class="message">
            	  	 {$data.content}
            	  </div> 
             	</div>
              	<div class="col-lg-3">
				  <div class="panel panel-default index-discussionlist">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="es-icon es-icon-whatshot pull-left"></i>最新文章</h3>
                    </div>
                    <div class="panel-body row">
                        <ul class="list-unstyled">
                           {volist name="newslist" id="nl"}
					    	  <li><p class="clearfix"><a href="{$nl.id}" class="pull-left">{$nl.title}</a></p></li>
							{/volist}
                       </ul>
                    </div>
                </div>  
                </div>
              </div>
			</div>
        </main>
        <footer class="footer" style="clear:both">  
            <p class="copyright">Copyright&nbsp;©&nbsp;2017-2018 Powered by <a href="/" target="_blank">{$site.name}</a> All Rights Reserved <a href="https://www.miibeian.gov.cn" target="_blank">{$site.beian}</a></p>
        </footer>

    </body>

</html>