<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage form-control" name="row[user_id]" type="text" value="{$row.user_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Express_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-express_no" class="form-control form-control" name="row[express_no]" type="text" value="{$row.express_no}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_order_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_order_no" class="form-control form-control" name="row[out_order_no]" type="text" value="{$row.out_order_no}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expressid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-expressid" class="form-control selectpicker" name="row[expressid]">
                {foreach name="expressidList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.expressid"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addressid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressid" class="form-control form-control" name="row[addressid]" type="number" value="{$row.addressid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" class="form-control form-control" step="0.01" name="row[price]" type="number" value="{$row.price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">数量:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" class="form-control form-control" step="0.01" name="row[num]" type="number" value="{$row.num}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods" class="form-control form-control" name="row[goods]" type="text" value="{$row.goods}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addressee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressee" class="form-control form-control" name="row[addressee]" type="text" value="{$row.addressee}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('A_mphone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-a_mphone" class="form-control form-control" name="row[a_mphone]" type="text" value="{$row.a_mphone}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('All_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-all_address" class="form-control form-control" name="row[all_address]" type="text" value="{$row.all_address}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_shen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_shen" class="form-control form-control" name="row[f_shen]" type="text" value="{$row.f_shen}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_shi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_shi" class="form-control form-control" name="row[f_shi]" type="text" value="{$row.f_shi}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_qu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_qu" class="form-control form-control" name="row[f_qu]" type="text" value="{$row.f_qu}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_di')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_di" class="form-control form-control" name="row[f_di]" type="text" value="{$row.f_di}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('From')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-from" class="form-control selectpicker" name="row[from]">
                {foreach name="fromList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.from"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{$row.create_time|datetime}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cprice')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cprice" class="form-control form-control" step="0.01" name="row[cprice]" type="number" value="{$row.cprice}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
