<style type="text/css">
	.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td ,.table-bordered > thead > tr > th{
    border: 1px solid #dce2e6;
}
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-body">
		<div id="toolbar" class="toolbar">
			<form class="form-inline" role="form" action='' method='get'>
				<div class="form-group">
					<label for="start_time" class="control-label">选择日期</label>
					<input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD 00:00:00" name='start_time' value="{$start}" placeholder="选择开始日期" id='start_time'>
				</div>
				<div class="form-group">
					<label class="control-label" for="end_time">-</label>
					<input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD 23:59:59" name='end_time' value="{$end}" placeholder="选择截止日期" id='end_time'>
				</div>
				<div class="form-group">
					<label class="control-label">选择快递</label>
					<select class="form-control" name="expressid">
						<option value="0" {$expressid=='0'?'selected':''}>全部快递&nbsp;&nbsp;</option>
						<option value="1" {$expressid=='1'?'selected':''}>圆通</option>
						<option value="2" {$expressid=='2'?'selected':''}>中通</option>
						<option value="3" {$expressid=='3'?'selected':''}>申通</option>
						<option value="4" {$expressid=='4'?'selected':''}>韵达</option>
						<option value="5" {$expressid=='5'?'selected':''}>汇通</option>
					</select>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" name='keywords' value="{$keywords}"  placeholder="输入用户名">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit" id='search'>查询</button>
					</span>
					</div>
				</div>
			</form>
		</div>
		<table class='table table-bordered '>
			<thead>
				<tr>
					<th>用户名</th>
					<th>下单数量</th>
					<th>平均价格</th>
					<th>统计时间</th>
				</tr>
			</thead>
			<tbody>
				{foreach $express_info as $vo}
				<tr>
					<td>{:get_username($vo.user_id)}</td>
					<td>{$vo.count}</td>
					<td>{:round($vo.avgprice,2)}</td>
					<td>{:date('Y-m-d',$vo.create_time)}</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
</div>